<% include ../partials/header %>


<div class="bigger ui segment grid">

	<div class="rlogo ui centered row"><img class="ui medium rounded image" src="<%=college.Logo%>"></div>
	<div class="ui centered row">
		<div class="ui centered segment vertically divided grid">
			<div class="ui centered row">
				<h1>
					<%=college.Name%>
				</h1>
			</div>
			<div class="ui centered row">
				<p>
					<%=college.Description%>
				</p>
			</div>
			<div class="ui centered row">
				<% for(var i=0; i<college.Rating; i++) {%>
				<span class="fa fa-star checked"></span>
				<% } %>
				<% for(var i=0; i<(5-college.Rating); i++) { %>
				<span class="fa fa-star"></span>
				<% } %>
			</div>
		</div>

	</div>



</div>


<div class="ui main text segment container">

	<% college.department.forEach( function(department, index1) { %>
	<h3 class="ui dividing header">
		<%=department.Department_name%> <br>
		<span> HOD: <%=department.HOD %> </span> <br>
		<span> Description: <%=department.Description %> </span> <br>
		<% if(currentUser) { %>

		<form action="/college/<%=college.College_id%>/department/<%=department.Department_id%>/course/new" method="GET"
			style="display:inline">
			<button class="ui green button">ADD new course</button>
		</form>

		<% } %>

	</h3>

	<div class="ui top attached segment">
		<div class="ui divided items">

			<% department.course.forEach( function(course, index2) { %>
			<div class="item">
				<div class="content pro">
					<p class="header">
						<%=course.Name%>
						<% if( currentUser && ( currentUser.Fname == college.Name || currentUser.Fname == "Admin" ) ){ %>
						<form
							action="/restaurants/<%=college.Restaurant_id%>/menus/<%=department.Menu_id%>/menu_items/<%=course.Menu_item_id%>?_method=DELETE"
							method="POST" style="display:inline">
							<button class="ui red button">DELETE ITEM</button>
						</form>
						<% }%>

					</p>
					<div class="description">
						Description : <%=course.Description%> <br>
						CreditPoints: <%=course.CreditPoints%> <br>
						Duration: <%=course.Duration%> months <br>
					</div>
				</div>

			</div>
			<% }); %>

		</div>

	</div>
	<% });%>
	<% if (  currentUser) { %>
	<a id="new_menu" href="/college/<%=college.College_id%>/department/new" class="ui green button"> Add a new
		department!</a>
	<% } %>
</div>


<div class="ui main text segment container">


	<div class="ui divided items">
		<% college.reviews.forEach(function (review, index2) { %>
		<div class="item">
			<div class="content">
				<!-- <div class="header">
					<%=review.Fname%>
				</div> -->
				<div class="extra">
					<div class="cinema">
						<%=review.niceDate%>
					</div>
				</div>
				<div class="meta">
					<% for(var i=0; i<review.Rating; i++) {%>
					<span class="fa fa-star checked"></span>
					<% } %>
					<% for(var i=0; i<(5-review.Rating); i++) { %>
					<span class="fa fa-star"></span>
					<% } %>
				</div>
				<div class="description">
					<p>
						<%=review.Review%>
					</p>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
	<% if( currentUser) { %>
	<a href="/college/<%=college.College_id%>/reviews/new" class="ui green button">
		Leave a review!
	</a>
	<% } %>
</div>

<style>
	.ui.segment.grid {
		margin-right: 5px;
		margin-left: 5px;
	}

	.ui .medium.rounded.image {
		width: 15em;
		height: 15em;
		border: 2px solid rgba(255, 255, 255, 0.5);
	}

	.rlogo.ui.centered.row {
		padding-bottom: 0;
	}

	#new_menu {
		margin-top: .8%;
	}

	.bigger.ui.segment.grid {
		background-image: url("https://images.static-collegedunia.com/public/college_data/images/campusimage/1419577563dyanand.jpg");
	}
</style>

<% include ../partials/footer %>